html, body {
  height: 100%;
}
* {
  box-sizing: border-box;
}
#root {
  /* Why?
    The bounding box editor is canvas-based, and therefore
    difficult to make responsive. Choose a reasonable
    desktop width and stick with it.
  */
  width: 1000px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}

header {
  display: flex;
  width: 100%;
  flex-direction: row;;
  align-items: center;;
  justify-content: left;
}

.logo {
  width: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.required-label::after {
  content: " *"; /* Adds a space and an asterisk after the label text */
  color: red;   /* Styles the asterisk in red */
  font-weight: bold; /* Makes it bold */
}
label {
  margin: 0 0.25rem 0.75rem;
}

.input-group {
  display: flex;
  border: 3px solid #ced4da; /* Add the desired border */
  border-radius: 0.25rem; /* Optional: adds rounded corners */
  /* Ensures the border surrounds the content neatly */
  width: fit-content; 
  padding: 2rem;
  margin: 1rem;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}
.input-group.disabled {
  border-color: gray;
}

input[type="file"]::file-selector-button {
  /* Basic styling properties */
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
  /* Additional effects */
  margin-right: 15px;
  transition: background-color 0.2s ease-in-out;
}

/* Hover and focus styles */
input[type="file"]::file-selector-button:hover {
  background-color: #0056b3;
}

input[type="file"]::file-selector-button:focus {
  outline: 2px solid #007bff;
  outline-offset: 2px;
}

dialog {
  width: 80%;
  border: none;
  border-radius: 8px;
  padding: 20px;
}

::backdrop {
  background-color: rgba(0, 0, 0, 0.7); /* Darkened background */
  backdrop-filter: blur(5px); /* Optional blur */
}
